* {
    margin: auto;
    padding: 0px;
 
}

header {
    margin-top: auto;
    background-color: rgb(97, 58, 6);
}

header h1 {
    margin-left: auto;
    margin-right: auto;
    
}

header img {
    display: flex;
}

nav {
    background-color: rgb(250, 212, 129);
    display: flex;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    
}

a:hover{
    text-decoration: underline;
}

.cardMae img{
    margin-top: 300px;
    margin-left: 50px;
    border-radius: 20px;
    border: 10px solid rgb(250, 212, 129);
    width: 500px;
    height: 500px;
}

.cardMae{
    display: flex;
    align-items: center;
    width: 100%;
    
}

.textocard1{
    font-size: 50px;
    text-align: center;
    margin-top: 400px ;
}



